<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cuerpo</title>
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- Encabezado -->
    <header>
        <h1>Bienvenido a la Página de Cuerpo</h1>
    </header>

    <!-- Contenido principal -->
    <main>
        <!-- Aquí va el contenido principal de la página -->
        <p>Este es el contenido principal de la página.</p>
    </main>

    <!-- Pie de página -->
    <footer>
        <p>Pie de página - Información de contacto, derechos de autor, etc.</p>
    </footer>

    <!-- Menú de usuario -->
    <nav>
      <ul>
          <li>Nombre de Usuario: <%= nombreUsuario %></li>
          <li><a href="/logout">Cerrar Sesión</a></li>
      </ul>
  </nav>
  
  
</body>
</html>
